td.media-icon img[src$=".svg"],
.acf-image-uploader .image-wrap img[src$=".svg"],
img[src$=".svg"].attachment-post-thumbnail {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

#wp-admin-bar-wp-environment {
  pointer-events: none;
  &.development {
    background: orangered !important;
  }

  &.production {
    background: seagreen !important;
  }
}