@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  $path: "../fonts/";
  @font-face {
    font-display: swap;
    font-family: quote($font-name);
    font-feature-settings: "lnum";
    font-style: $style;
    font-weight: $weight;
    src: local(""),
    url($path + $file-name + ".woff2") format('woff2'),
    url($path + $file-name + ".woff") format('woff');
  }
}

@include font-face("Raleway", "Raleway-Italic", 400, "italic");
@include font-face("Raleway", "Raleway-Regular", 400);
@include font-face("Raleway", "Raleway-BoldItalic", 700, "italic");
@include font-face("Raleway", "Raleway-Bold", 700);
@include font-face("Raleway", "Raleway-BlackItalic", 900, "italic");
@include font-face("Raleway", "Raleway-Black", 900);

body {
  color: #212121;
  font-family: Raleway, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 {
  font-weight: 700;
  font-size: 28.83px;
  line-height: 33.85px;
}

h3 {
  font-weight: 700;
  font-size: 25.63px;
  line-height: 30.09px;
}

h4 {
  font-weight: 700;
  font-size: 22.78px;
  line-height: 26.74px;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.77px;
}

p {
  font-size: 18px;
  line-height: 26px;
}

strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

a {
  color: #212121;
  font-weight: bold;
  text-decoration: underline;
}