@use "sass:meta";

.acf-block-body:not(.is-selected) {
    @include meta.load-css("../../assets/css/style.css");

    [data-aos="slide-right"] {
        transform: none;
    }
}

.acf-block-body.is-selected,
.block-list-appender.wp-block {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

html :where(.wp-block) {
    max-width: 100%;
}

.editor-styles-wrapper {
    @apply bg-page-bg;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
    @apply text-page-text px-16 text-[3rem] uppercase tracking-wider text-page-text font-header;
}

.acf-block-body:not(.is-selected) {
    margin-top: 48px;
    margin-bottom: 48px;
}

.acf-block-component {

    section {
        overflow: hidden;
    }
}