@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  $path: "../fonts/";
  @font-face {
    font-display: swap;
    font-family: quote($font-name);
    font-feature-settings: "lnum";
    font-style: $style;
    font-weight: $weight;
    src: local(""),
    url($path + $file-name + ".woff2") format('woff2'),
    url($path + $file-name + ".woff") format('woff');
  }
}

@include font-face("Nexa", "Nexa-Black", 900);
@include font-face("Nexa", "Nexa-Heavy", 800);
@include font-face("Inter", "Inter-Italic", 400, "italic");
@include font-face("Inter", "Inter-Regular", 400);
@include font-face("Inter", "Inter-BoldItalic", 700, "italic");
@include font-face("Inter", "Inter-Bold", 700);

body {
  background: #222;
}

#login {
  @apply max-w-sm w-full;

  h1 {
    a {
      background-image: none, url('../images/login-logo.svg');
    }
  }

  div#login_error {
    @apply font-sans border-none text-sm p-6;
  }

  form {
    @apply border-none rounded-xl bg-zinc-100;
    box-shadow: none;

    input[type="text"]{
      @apply rounded-lg border border-gray-300 w-full placeholder:text-gray-600 focus:border-gray-800 focus:outline-0 focus:ring-0 text-base font-sans;
    }

    label {
      @apply block mb-1 font-bold font-sans text-base;
    }

    input[type="submit"] {
      @apply font-sans bg-[#222] border-[#222] font-medium font-sans;

      &:hover {
        color: white !important;
      }
    }

    button:has(:not(.dashicons)) {
      @apply font-sans border-none;
    }

    #pass-strength-result {
      @apply mt-2 font-sans text-base rounded;

      &.short {

      }

      &.good {

      }

      &.strong {

      }
    }

    .description {
      @apply font-sans text-sm;
    }
  }

  p.message {
    @apply bg-transparent border-none font-sans text-white text-base;

    box-shadow: none;

    a {
      @apply text-white;
    }
  }

  p#nav,
  p#backtoblog {
    @apply font-sans text-white text-center text-sm;

    a {
      @apply text-white hover:underline;
    }
  }

  p.forgetmenot {
    @apply flex items-center;
  }
}

.language-switcher {

  span {
    @apply text-red-600;
  }

  select {
    @apply rounded-lg border border-gray-300 w-full max-w-xs placeholder:text-gray-600 focus:border-gray-800 focus:outline-0 focus:ring-0 text-sm font-sans;
  }

  input[type="submit"] {
    @apply font-sans;
  }
}